.sortable-item {
    cursor: move;
    transition: all 0.2s ease;
}

    .sortable-item:hover {
        background-color: #f9f9f9;
    }

.sortable-placeholder {
    background-color: #f0f0f0;
    min-height: 350px;
}
